.main-rect-button {
  @include bold-text;
  font-size: 1.3rem;
  color: black;
  height: 2.5rem;
  width: 15rem;
  margin: 0 auto;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;

  &.green {
    background-color: #81B77C;
    color: #fff;
    border: 1px #6b9a67 solid;
  }
}

.circle-button {
  // transform: scale(0);
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px red solid;
  transition: all 200ms ease-in-out;
  transform-origin: center;
  border-radius: 9999px;
  padding: 10px;
}
