@import "./mixins.scss";
@import "./navbar.scss";
@import "./gallery.scss";
@import "./bio.scss";

html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
}

html {
  background-color: var(--background);
  font-size: 16px;
  scroll-behavior: smooth;
  &.modal-open {
    overflow: hidden;
    // ios is not working with overflow: hidden alone.
    @supports (-webkit-overflow-scrolling : none) {
      position: fixed;
    }
  }
}

.main-body {
  height: 100%;
  @media (hover: none) {
    min-height: 101vh;
  }
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  @include regular-text;
  margin-bottom: 1px;
  margin-top: auto;
  padding: 12px 0;
  .about-bottom {
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    @include tablet {
      display: none;
    }
  }

  .date {
    margin-top: 8px;
    font-size: 0.75rem;
  }
}
