.main-rect-button {
  @include bold-text;
  font-size: 1.3rem;
  color: black;
  height: 2.5rem;
  width: 15rem;
  margin: 0 auto;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;

  &.green {
    background-color: #81B77C;
    color: #fff;
    border: 1px #6b9a67 solid;
    transition: all 250ms ease-in-out;
    &:disabled {
      cursor: default;
      background-color: #d2f0cf;
      border: 1px #cfe8cc solid;
    }
  }
  &.placeholder {
    font-size: 1rem;
    width: 20rem;
  }
  &.loading {
    color: black;
    background-image: 
    repeating-linear-gradient(
      45deg, 
      transparent, 
      transparent 0.5rem,
      rgba(111, 170, 102, 0.3) 0.5rem,
      rgba(111, 170, 102, 0.3) 1rem
    );
  background-size: 190% 190%;
  animation: loadStripe 20s linear infinite;
}

@keyframes loadStripe {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
  
}

.circle-button {
  // transform: scale(0);
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px red solid;
  transition: all 200ms ease-in-out;
  transform-origin: center;
  border-radius: 9999px;
  padding: 10px;
}
