@import "./mixins.scss";
@import "./navbar.scss";
@import "./thumbCreator.scss";
@import "./buttons.scss";
@import "./textInput.scss";
@import "./thumbDisplay.scss";
@import "./loading.scss";

html,
body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4, 
ul {
  margin:0;
  padding:0;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
}

html {
  background-color: #FFFCF7;
  font-size: 16px;
} 

body {
  margin: 10px 5px 0;
}

