.thumb-nav {
  margin-bottom: 10px;
  ul {
    display: flex;
    @include bold-text;
    font-size: 1.4;
    width: fit-content;
    margin: 0 auto;
  }
  li {
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
.thumb-ul-wrapper {
  // height: 100vh;
  .empty-list {
    @include bold-text;
    margin: 20px auto;
    text-align: center;
  }
}

.thumb-list {
  @include bold-text;
  width: fit-content;
  // height: 100vh;
}
.thumb-list-item span {
  display: block;
}

.thumb-list-item {
  display: flex;
  margin: 2px 0;
  padding-right: 10px;
  background-color: #FFF;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;

  .text-holder {
    height: fit-content;
    margin-left: 10px;
    padding-right: 10px;
    align-self: center;
    flex:1;
  }

  .button-wrapper {
    flex: 1;
    height: fit-content;
    align-self: center;
    margin-left: 20px;
    
  }

  button {
    float: right;
    cursor: pointer;
    padding: 10px;
    color: #000;
    border: 0.5px solid rgba(0, 0, 0, 0.368);
    border-radius: 4px;

    &:first-child {
      margin-left: 10px;
    }
  }
}