.thumb-nav {
  margin-bottom: 10px;
  ul {
    display: flex;
    @include bold-text;
    font-size: 1.4;
    width: fit-content;
    margin: 0 auto;
  }
  li {
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
    &.active {
      text-decoration: underline;
    }
  }
}
.thumb-ul-wrapper {
  // height: 100vh;
  .empty-list {
    @include bold-text;
    margin: 20px auto;
    text-align: center;
  }
}

.thumb-list,
.drag-instruct {
  @include bold-text;
  min-width: 450px;
  max-width: 700px;
  margin: 0 auto;
  // height: 100vh;
}

.drag-instruct {
  font-size: 0.9rem;
  padding: 10px 5px 2px;
  text-align: center;
}

.thumb-list-item span {
  display: block;
}

.thumb-list-item {
  display: flex;
  margin: 2px 0;
  padding-right: 10px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;

  .text-holder {
    height: fit-content;
    margin-left: 10px;
    padding-right: 10px;
    align-self: center;
    flex: 1;
    p {
      @include regular-text;
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }

  .button-wrapper {
    flex: 1;
    height: fit-content;
    align-self: center;
    margin-left: 20px;
  }

  button {
    float: right;
    cursor: pointer;
    padding: 10px;
    color: #000;
    border: 0.5px solid rgba(0, 0, 0, 0.368);
    border-radius: 4px;

    &:first-child {
      margin-left: 10px;
    }
    &:disabled {
      color: #c6c6c6;
      border: 0.5px solid rgba(0, 0, 0, 0.1);
    }
  }
}
