.thumb-nav {
  margin-bottom: 10px;
  ul {
    display: flex;
    @include bold-text;
    font-size: 1.4;
    width: fit-content;
    margin: 0 auto;
  }
  li {
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
    &.active {
      text-decoration: underline;
    }
  }
}
.thumb-ul-wrapper {
  margin-bottom: 50px;
  .empty-list {
    @include bold-text;
    margin: 20px auto;
    text-align: center;
  }
}

.thumb-list,
.drag-instruct {
  @include bold-text;
  min-width: 450px;
  max-width: 760px;
  margin: 0 auto;
  // height: 100vh;
}

.thumb-list > li {
  margin: 0 30px;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.drag-instruct {
  font-size: 0.9rem;
  padding: 10px 5px 2px;
  text-align: center;
}

.thumb-list-item span {
  display: block;
}

.thumb-list-item {
  padding-right: 10px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  img {
    float: left;
    -webkit-user-drag: none;
  }

  .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .text-holder {
      padding-left: 10px;


      p {
        @include regular-text;
        font-size: 0.8rem;
        margin-bottom: 0;
      }
    }
  }

  button {
    float: right;
    cursor: pointer;
    padding: 10px;
    color: #000;
    border: 0.5px solid rgba(0, 0, 0, 0.368);
    border-radius: 4px;

    &:first-child {
      margin-left: 10px;
    }
    &:disabled {
      color: #c6c6c6;
      border: 0.5px solid rgba(0, 0, 0, 0.1);
    }
  }
}
